@using Admin.Models
@{
    Layout = null;
    var date = DateTime.Now;
    var CenterId = ViewBag.centerId != null ? ((int)ViewBag.centerId) : 0;

    var currentTimeZone = TimeZone.CurrentTimeZone.DaylightName ;
}



<div class="row">
    <div class="col-sm-10 m-b-xs" id="checkFields">

       
        @foreach (var field in (List<Field>)ViewBag.fields)
        {
             
            <input type="checkbox"  value="@field.Id" class="btn btn-success btn-facebook btn-outline"   />
            <label >@field.Name</label>
            
        }
    </div>
</div>

@(Html.Kendo().Scheduler<BookingViewModel>()
    .Name("scheduler")
     .Date(date.Date)
      .StartTime(new DateTime(date.Year, date.Month, date.Day, 7, 00, 00))
      .Height(800)
    .Views(views =>
    {
        views.DayView();
        
        views.WeekView(mv => mv.Selected(true));
        views.MonthView();
        views.AgendaView();
    })
     .MinorTickCount(1)
     //.Selectable(true) 
     .Editable(editable =>
     {
         editable.TemplateName("CustomEditorTemplate");
         editable.Resize(false);
         editable.Move(false);
         editable.Create(true);
         editable.Destroy(true);
         editable.Update(true);
        
         editable.Confirmation("Esta seguro que desea eliminar el registro");
     })
    .Messages(m =>
    {
        m.Cancel("Cancelar");
        m.Date("Fecha");
        m.Event("Reserva");
        m.Save("Guardar");
        m.DeleteWindowTitle("Borrar registro");
        m.Destroy("Eliminar");
    })
     //.Timezone("Etc/UTC")
    // .Timezone(currentTimeZone)
   .DataSource(d => d
        .Model(m =>
        {
            m.Id(f => f.Id);
            m.Field(f => f.Title).DefaultValue("No title");
            // m.Field(f => f.UserId).DefaultValue(Guid.NewGuid());

            m.RecurrenceId(f => f.RecurrenceId);
        }) 
        .ServerOperation(true)
        .Read("Read", "Booking")
            .Create("Create", "Booking")
            .Destroy("Destroy", "Booking")
            .Update("Update", "Booking")) )


 

<script type="text/javascript">

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);

            var scheduler = $("#scheduler").data("kendoScheduler");
            scheduler.one("dataBinding", function (e) {
                //prevent saving if server error is thrown
                e.preventDefault();
                console.log(e);
            })
        }
    }
     
    $(function () {
        $("#checkFields :checkbox").change(function (e) {
            var checked = $.map($("#checkFields :checked"), function (checkbox) {
                return parseInt($(checkbox).val());
            });

            var filter = {
                logic: "or",
                filters: $.map(checked, function (value) {
                    return {
                        operator: "eq",
                        field: "Idcancha",
                        value: value
                    };
                })
            };

            var scheduler = $("#scheduler").data("kendoScheduler");

            scheduler.dataSource.filter(filter);
        });
    })
   
     
 

</script>
