@using Admin.Models
@{
    Layout = null;
    var date = DateTime.Now;
    var CenterId = ViewBag.centerId != null ? ((int)ViewBag.centerId) : 0;
}



<div class="row">
    <div class="col-sm-10 m-b-xs" id="checkFields">

        @*@(Html.Kendo().ComboBox()
              .Name("selectedField")
              .DataTextField("Text")
              .DataValueField("Id")
              .HtmlAttributes(new { style = "width:250px" })
              .Filter("contains")
              .AutoBind(false)
              .MinLength(3)
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetFieldsFromCenter", "Canchas",new { centerId = CenterId });
                  })
                  .ServerFiltering(true);
              })
              .Events(e=> e.Select("onSelect"))
            )*@
        @foreach (var field in (List<Field>)ViewBag.fields)
        {
             
            <input type="checkbox"  value="@field.Id" class="btn btn-success btn-facebook btn-outline"   />
            <label >@field.Name</label>
            
        }
    </div>
</div>

@(Html.Kendo().Scheduler<BookingViewModel>()
    .Name("scheduler")
     .Date(date.Date)
      .StartTime(new DateTime(date.Year, date.Month, date.Day, 7, 00, 00))
      .Height(600)
    .Views(views =>
    {
        views.DayView();
        views.WorkWeekView();
        views.WeekView(mv => mv.Selected(true));
        views.MonthView();
        views.AgendaView();
    })
     .MinorTickCount(1)
     .Selectable(true)
     .Events(e=> e.Edit("edit"))
     .Editable(editable =>
     {
         editable.TemplateName("CustomEditorTemplate");
         editable.Resize(false);
         editable.Move(false);
         editable.Confirmation("Esta seguro que desea eliminar el registro");
     })
    .Messages(m =>
    {
        m.Cancel("Cancelar");
        m.Date("Fecha");
        m.Event("Reserva");
        m.Save("Guardar");
        m.DeleteWindowTitle("Borrar registro");
        m.Destroy("Eliminar");
    })
    .Timezone("Etc/UTC")
   .DataSource(d => d
        .Model(m =>
        {
            m.Id(f => f.Id);
            m.Field(f => f.Title).DefaultValue("No title");
            // m.Field(f => f.UserId).DefaultValue(Guid.NewGuid());

            m.RecurrenceId(f => f.RecurrenceId);
        })
        .Read("Read", "Booking")
            .Create("Create", "Booking")
            .Destroy("Destroy", "Booking")
            .Update("Update", "Booking")))

@Scripts.Render("~/plugins/knockout")
<script type="text/javascript">

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);

            var scheduler = $("#scheduler").data("kendoScheduler");
            scheduler.one("dataBinding", function (e) {
                //prevent saving if server error is thrown
                e.preventDefault();
                console.log(e);
            })
        }
    }

    //function onSelect(e) {

    //    var dataItem = this.dataItem(e.item.index());
    //    console.log(dataItem);
    //    var filter = {
    //        logic: "or",
    //        filters: $.map(dataItem.Id, function (value) {
    //            return {
    //                operator: "eq", field: "Id", value: value
    //            };
    //        })
    //    };

    //    var scheduler = $("#scheduler").data("kendoScheduler");

    //    console.log(scheduler);
    //    scheduler.dataSource.filter(filter);
    //    scheduler.refresh();

    //}
    $(function () {
        $("#checkFields :checkbox").change(function (e) {
            var checked = $.map($("#checkFields :checked"), function (checkbox) {
                return parseInt($(checkbox).val());
            });

            var filter = {
                logic: "or",
                filters: $.map(checked, function (value) {
                    return {
                        operator: "eq",
                        field: "Idcancha",
                        value: value
                    };
                })
            };

            var scheduler = $("#scheduler").data("kendoScheduler");

            scheduler.dataSource.filter(filter);
        });
    })
    function edit(e) {
        console.log("Edit");
        console.log(e);
    }



</script>
