@{
    Layout = null;
   
}
@model IEnumerable<IEnumerable<Field>>

@foreach (var items in Model)
{
    <div class="row"> 
      @foreach (var field in items)
      {
        @Html.Partial("~/Views/Canchas/Partials/FieldSearchDetail.cshtml", field)
      }
    </div> 
}