@{
    Layout = null;
}

<div class="cssload-loader">
     <div class="ball">
         <div></div>
     </div>
    <div class="cssload-inner cssload-one"></div>
    <div class="cssload-inner cssload-two"></div>
    <div class="cssload-inner cssload-three"></div>
</div>