@{
    Layout = null;
}

<div >  
    @*<div class="loader more">
    </div>*@
    <div style="position:  absolute; top:50%;left:50%;z-index: 1000">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    
</div>


 