
@{
    ViewBag.Title = "Calendario";

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    var options = new AjaxOptions()
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loader",
        UpdateTargetId = "BookingListSection"
    };
}

@Html.Partial("KendoRef")  



<div class="wrapper wrapper-content animated fadeInRightBig" id="bookingAdminSection" style="padding-top: 7%">


    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"> Calendario</a></li>
                    
                    <li class=""><a data-toggle="tab" href="#tab-2"> Extras</a></li>

                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            @Html.Partial(("Partials/Scheduler"))
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">

                           
                        </div>
                    </div>
                     

                </div>
            </div>
        </div>
    </div>



</div>