
@{
    ViewBag.Title = "Calendario";

    if (Request.IsAjaxRequest())
     {
        Layout = null;
    }
    var options = new AjaxOptions()
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loader",
        UpdateTargetId = "BookingListSection"
    };
}

@Html.Partial("KendoRef")  


 
<div class="wrapper wrapper-content animated fadeInRightBig" id="bookingAdminSection" style="padding-top: 7%">


    <div class="row">

        @Html.Partial(("Partials/Scheduler"))
    </div>


</div>