
@{
    ViewBag.Title = "Calendario";

    if (Request.IsAjaxRequest())
     {
        Layout = null;
    }
    var options = new AjaxOptions()
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loader",
        UpdateTargetId = "BookingListSection"
    };
}

@Html.Partial("KendoRef")  

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2> </h2>
        <ol class="breadcrumb">
            <li>
                <a href="#"> </a>
            </li>
            <li>

            </li>
            <li class="active">
                <strong> </strong>
            </li>
        </ol>
    </div>
</div>
 

 
<div class="wrapper wrapper-content animated fadeInRightBig" id="bookingAdminSection" >


    <div class="row" id="schedulerContainer">

        @Html.Partial(("Partials/Scheduler"))
    </div>


</div>