<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
 <connectionStrings>
   <add name="DefaultConnection" connectionString="Data Source=enlacanchacont.c0srj4zpcdyv.us-west-2.rds.amazonaws.com;Initial Catalog=EnLaCanchaContext;Persist Security Info=True;User ID=reaper;Password=Declicforever00" providerName="System.Data.SqlClient" />
   <add name="IdentityData" connectionString="Data Source=enlacanchacont.c0srj4zpcdyv.us-west-2.rds.amazonaws.com;Initial Catalog=EnLaCanchaIdentity;Persist Security Info=True;User ID=reaper;Password=Declicforever00" providerName="System.Data.SqlClient" />

   <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EnLaCanchaContext; Integrated security = True" providerName="System.Data.SqlClient" />
    <add name="IdentityData" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EnLaCanchaIdentity; Integrated security = True" providerName="System.Data.SqlClient" />-->
   
 </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FacebookApiId" value="1376739429318500" />
    <add key="facebookSecret" value="ae9b599ab3beb384608f087a204f9a23" />
  
    <add key="clientApp" value="https://localhost:44300/payment/PaymentCompleted" />
    <add key="clientId" value="AUQ8iR7rx5yvoyEFXgmsKku0uO_FaUKAfHNyqA3EJe6pvAEyg3p25Xuqh7UOT5kmZG_d8n9-4gEnKe5T" />
    <add key="Secret" value="EFOWHtgots-OMh4ogZmT_H0xYbVqXEGvQUKCckn6FOzSEQYL7GQddGSEz_61cBrB0EWr3Q6_edBf-z8n" />
    <add key="return_url" value="http://localhost:51125/api/Verify" />
    <add key="cancel_url" value="http://localhost:56431/Canchas/PayPalCanceled" />
    <add key="IsPayPalSandbox" value="true" />

    <add key="AzureSubscriptionId" value="33ece891-b4da-4eae-8ef1-90879f3d9a17" />
    <add key="NamespaceName" value="enlacancha" />
    <add key="HubName" value="EnLaCanchaHub" />
    <add key="HubConnectionString" value="Endpoint=sb://enlacancha.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=JKlhgi6rsr7+kv0h+Jb2b9TJEoGgq9c20XEZh0kcY0E=" />
    <add key="CertResourceName" value="AzureHub" />
    <add key="CertPassword" value="1234567" />
    <add key="AzureUri" value="https://hatshepsut.blob.core.windows.net/" />
    <add key="AzureUser" value="hatshepsut" />
    <add key="AzureKey" value="t94DozNWAFvH7JTEBCtjB0yNtQySjKlkpZyxUYnF14VfAUevCCjdA5NfXIlpjZdq3++3ETcpPDD0WyPr5w2BTg==" />
    <add key="containerName" value="enlacancha" />

  </appSettings>
  
  <system.web>
     <globalization uiCulture="es-SV" culture="es-SV" />
    <customErrors mode="Off"></customErrors>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.ApplicationInsightsHttpModule, Microsoft.ApplicationInsights.Extensibility.Web" />
    </httpModules>
    
  
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.ApplicationInsightsHttpModule, Microsoft.ApplicationInsights.Extensibility.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
   <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>