<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="clientApp" value="https://enlacancha.azurewebsites.net/payment/PaymentCompleted"/>
    <add key="clientId" value="AUQ8iR7rx5yvoyEFXgmsKku0uO_FaUKAfHNyqA3EJe6pvAEyg3p25Xuqh7UOT5kmZG_d8n9-4gEnKe5T"/>
    <add key="Secret" value="EFOWHtgots-OMh4ogZmT_H0xYbVqXEGvQUKCckn6FOzSEQYL7GQddGSEz_61cBrB0EWr3Q6_edBf-z8n"/>
    <add key="return_url" value="https://enlacancha-api.azurewebsites.net/api/Verify"/>
    <add key="cancel_url" value="http://enlacancha.azurewebsites.net/Canchas/PayPalCanceled"/>
    <add key="IsPayPalSandbox" value="true"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
