@{

    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_2.cshtml";
    ViewBag.Title = "Canchas";
}
@model Booking
 

@Html.Partial("KendoRef")
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2> </h2>
        <ol class="breadcrumb">
            <li>
                <a href="#"> </a>
            </li>
            <li>

            </li>
            <li class="active">
                <strong> </strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" id="fieldsContainer">


    
</div>


<div class="modal fade" id="CreateAppointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="myModalLabel">Reserva tu Cancha</h1>
            </div>
            <div class="modal-body">
                 
                <div id="bookingModal">
                    Realizar pago a travez De PayPal 
                    
                        <a href="@Url.Action("Pay","Payment",new { id = Model.Id })" class="btn btn-success btn-large btn-outline"  >
                            <i class="fa fa-cc-paypal"></i>
                    </a>
                    < 
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {

        
        RunSearch();
        Notify();
        $('#CreateAppointment').modal('show');
    });

    function sendToModal(formid) {

        @*$("#bookingModal').load('@Html.Partial("LoaderCircle")');*@
        $("#bookingModal").html('');
        $("#" + formid).submit();
    }

    function Notify() {
        swal({
            title: "Solicitud Realizada",
            text: "Su solicitud esta pendiente de confirmacion por el administrador!",
            type: "warning",
            showCancelButton: false,
            //confirmButtonColor: "#DD6B55",
            confirmButtonText: "Ok!",
            closeOnConfirm: true
        }, function () {
            //swal("Deleted!", "Your imaginary file has been deleted.", "success");
        });
    }
</script>
