@{
    
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_2.cshtml";
    ViewBag.Title = "Canchas";
}

@model IEnumerable<Field>
  
@Html.Partial("KendoRef")         
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4mbXflTyT-qgUjKpXrl2OQ7RE0BuMsaU">
</script>
<div class="wrapper wrapper-content p-xl" style="padding-top: 7%">
    <div class="container animated fadeInRight">
        <div class="row" id="fieldsContainer">
            @Html.Partial("Loader")
        </div>

        @*<div class="row">

                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-right">Los Datos han</span>
                            <h5>Actividad de Usuaios</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Visitas</small>
                                    <h4>236 321.80</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">% Nuevas Visitas</small>
                                    <h4>46.11%</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Semana pasada</small>
                                    <h4>432.021</h4>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Visitas</small>
                                    <h4>643 321.10</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">% Nuevas Visitas</small>
                                    <h4>92.43%</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Semana pasada</small>
                                    <h4>564.554</h4>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label"> Visitas</small>
                                    <h4>436 547.20</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">% Nuevas Visitas</small>
                                    <h4>150.23%</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Semana Pasada</small>
                                    <h4>124.990</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>*@


    </div>

</div>
 
<div class="modal fade" id="CreateAppointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="myModalLabel">Reserva tu Cancha</h1>
            </div>
            <div class="modal-body" >
                
                <div id="modalLoader">
                    @Html.Partial("LoaderCircle")
                </div>
                
                <div id="bookingModal">

                </div>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar Cambios</button>
            </div>*@
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        //run search
        RunSearch();
       
    });

    function sendToModal(formid) {

        @*$("#bookingModal').load('@Html.Partial("LoaderCircle")');*@
        $("#bookingModal").html('');
        $("#" + formid).submit();
    }
</script>
